<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
  </head>
  <body>
    <p>Hello,</p>
    <p>
      You are receiving this email because you requested a password reset for
      your user account at Skholar.
    </p>
    <p>Please enter the following code in the app to reset your password:</p>
    <h2
      style="
        background: #f4f4f4;
        padding: 10px;
        display: inline-block;
        letter-spacing: 5px;
      "
    >
      {{ token }}
    </h2>
    <p>Your username, in case you've forgotten: {{ user.get_username }}</p>
    <p>Thanks for using our site!</p>
    <p>The Skholar team</p>
  </body>
</html>
