<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <p>Hello,</p>
    <p>You are receiving this email because you requested a password reset for your user account at Skholar.</p>
    <p>Please go to the following page and choose a new password:</p>
    <a href="{{ reset_password_url }}">{{ reset_password_url }}</a>
    <p>Your username, in case you've forgotten: {{ user.get_username }}</p>
    <p>Thanks for using our site!</p>
    <p>The Skholar team</p>
</body>
</html>
